/**
 * @name Washing Machine Simulator
 * @author cedric
 * @version 1.0.0
 * @description discord rotat e
*/
@keyframes amongus2 {from {transform: rotate(0deg);}to {transform: rotate(1turn);}}html{animation: amongus2 10s linear 0s infinite;}
